<div class="storiesContainer">
  <% stories.each do |story| %>  
    <div class="storyCard">
      <div class="storyHeader">
        <div class="storyHeaderTitle">
          <h4><%= story.title.upcase %></h4>
        </div>
        <div class="storyHeaderImage">
          <%= image_tag story.category.image, class: "storyHeaderRound" %>
        </div>
      </div>
      <p>
        <%= story.category.name %>
      </p>
      <p class="timestamp">
        <%= image_tag image_path("calendar.png"), class: "icon" %>
        <%= story.timestamp.strftime("%B %Y") %>
      </p>
      <br/>
      <br/>
      <p>
        <%= story.body %>
      </p>
    </div>
  <% end %>
</div>