<!DOCTYPE html>
<html>
  <head>
    <title>QuasiNormalActivity2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar navbar-expand-lg bg-dark navbar-dark mb-3" id="navigationBar">
      <div class="container">
        <%= link_to image_tag("quasi_normal_activity_logo_2.png"), root_path, class: 'navbar-brand' %>

        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Home", root_path, class: 'nav-link' %>
          </li>
        </ul>

      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
